<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin approvel accepted</title>
</head>
<body>
Hello, <b> {{ data.email }} </b>
<p>Your request has been approved by Super User. Now you can login and start uploading videos on redjungle</p>
<p>if you face any error, feel free to contact us on redjungles.help@gmail.com </p>
<br>
<p><a href="https://redjungles.herokuapp.com/redjungles/admin/login"> <b>Click here for Login</b> </a>
    <br>
Thanks <br>
Redjungle community
</body>
</html>
